html,
body {
  height: 100%;
}
/* Sidenav */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .main {
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-left: 160px;
    overflow: auto;
  }

  .center-items {
    display: flex !important;
    align-items: center;
    justify-items: center;
  }

  /* Message div */
.my-alert-main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-alert-message {
  height: 45vh;
  width: 45vh;
}

/* Table */
.customers-table {
  margin-top: 50px;
  margin-left: 50px;
  overflow-x:auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td, tr{
  text-align: left;
  padding: 12px;
}

tr:nth-child(even){background-color: #f2f2f2}