html,
body {
  height: 100%;
  margin: 0;
}
.center-items {
  display: flex !important;
  align-items: center;
  justify-items: center;
}
/* Sidenav */

.sidenav {
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: none;
    align-items: end;
    padding-top: 10px;
    flex-direction: column;
    width: 100%;
  }
  .sidenav a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    width: 100%;
  }
  
  .sidenav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  div.main {
    padding: 1px 16px;
    height: 1000px;
  }
  .main {
    padding: 1px 16px;
    height: 1000px;
  }

  .closed-button {
    display: block !important;
    align-self: flex-end;
    width: 50px !important;
  }
  
  .menu-button {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px !important;
  }
  
  @media only screen and (min-width: 1200px){
    .main {
      margin-left: 200px;
    }
    .closed-button {
      display: none !important;
    }
    .menu-button {
      display: none !important;
    }
    .sidenav {
      width: calc(224px);
      display: flex !important;
    }
  }

  .slogan {
    display: flex;
    width: 100%;
    min-width: 100%;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  /* Header */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  display:flex;
  flex-direction: column;
}

  /* Message div */
.my-alert-main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-alert-message {
  height: 45vh;
  width: 45vh;
}

/* Table */
.customers-table {
  margin-top: 50px;
  margin-left: 50px;
  overflow-x:auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td, tr{
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}